!!! xml
!!!
%html
  %head
    %title= @title
    %link{:rel=>'stylesheets', :href=>"/stylesheets/site.css", :type=>'text/css', :media=>'screen,projection'}
  %body
    #header
      %h1= @title
    #container
      = yield
    #footer
      %p
        Copyright &copy;2010 CompuTEK Industries, LLC.
