!!! XML
!!! Strict
%html{html_attrs('en-en')}
  %head
    %title= @title
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %meta{:name => "lang", :content => "en"}/
    %link{:rel=>'stylesheet', :href=>"/stylesheets/application.css", :type=>'text/css', :media=>'screen,projection'}/
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
    %script{:type=>'text/javascript', :src=>'/javascripts/site.js'}
  %body
    #header
      %h1= @title
    #container
      = yield
    #footer
      %p
        Copyright &copy;2010 CompuTEK Industries, LLC.
